/* Reset styles for consistency across browsers */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  /* Set up basic styles for the page */
body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

header {
  background-color: #1F2937;
  padding: 4% 12% 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  transition: all 0.3s ease;
}

#hero {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7% 12%;
  width: auto;
  height: auto;
  gap: 20px;
  color: #F9FAF8;
}

.hero-left {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.hero-title {
  font-size: 48px;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-button {
  background-color: #3882F6;
  color: #fff;
  font-size: 18px;
  padding: 6px 9px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #fff;
  color: #333;
}

.hero-img {
  flex: 1;
  width: auto;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .hero-img {display: none;}
}

#info {
  height: auto;
  padding: 4% 12% 0 12%;
}

#info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 4%;
  text-align: center;
}

.info-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10%;
}

.info-text {
  max-width: 200px;
  text-align: center;
  padding-top: 10%;
}

.info-card img {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

#quotes {
  height: auto;
  padding: 6% 16% 5% 16%;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

blockquote {
  font-size: 30px;
  font-style: italic;
}

cite {
  margin-left: auto;
  font-weight: bold;
  margin-right: 15px;
  font-size: 22px;
}

#cta {
  height: auto;
  padding: 6% 12% 7%;
}

.cta-box {
  background-color: #3882f6;
  border: 2px solid rgb(74, 51, 204);
  border-radius: 15px;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  flex-wrap: wrap;
  gap: 8px;
}
.cta-box div {
  display: flex;
  flex-direction: column;
}
.cta-box h2 {
  font-size: 36px;
  font-weight: bold;
}

.cta-box p {
  font-size: 24px;
}

.cta-box a {
  margin-left: auto;
}

.cta-button {
  background-color: #3882F6;
  color: #fff;
  font-size: 18px;
  padding: 6px 9px;
  border-radius: 4px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: #fff;
  color: #333;
}