/* Reset styles for consistency across browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Set up basic styles for the page */
  body {
    font-family: 'roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  header {
    background-color: #1F2937;
    padding: 1rem;
    color: white;
    text-align: center;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
  }

  header a {
    margin: 0 auto 0 0;    
    color: #F9FAF8;
    text-decoration: none;
    font-size: 24px;
    padding: 0;
  }

  header ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-content: baseline;
    gap: 10px;
  }

  header ul li {
    margin: 0;
  }

  header ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease;
  }