/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: normal;
  transition: all 0.3s ease;
}

/* Header */
header {
  background-color: #1F2937;
  padding: 1% 14% 0;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 30px;
}

.header-logo {
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* Hero section */
#hero {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7% 14%;
  gap: 30px;
  color: #F9FAF8;
}

.hero-left {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}

.hero-title {
  font-size: 48px;
  font-weight: extra-bold;
}

.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-button {
  background-color: #3882F6;
  color: #fff;
  font-size: 18px;
  padding: 6px 9px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
}

.hero-button:hover {
  background-color: #fff;
  color: #333;
}

.hero-img {
  flex: 1;
  width: auto;
  max-height: 300px;
}

@media screen and (max-width: 600px) {
  .hero-img {display: none;}
}

/* Info section */
#info {
  height: auto;
  padding: 4% 14% 0;
}

#info h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-bottom: 4%;
  text-align: center;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-evenly;
  padding-bottom: 10%;
}

.info-box {
  text-align: center;
}

.info-box p {
  max-width: 200px;
  padding-top: 10%;
}

.info-box img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  border: 5px solid blue;
}

/* Quotes section */
#quotes {
  height: auto;
  padding: 6% 16% 5% 16%;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

blockquote {
  font-size: 30px;
  font-style: italic;
}

cite {
  margin-left: auto;
  font-weight: bold;
  margin-right: 15px;
  font-size: 22px;
}

/* CTA section */
#cta {
  height: auto;
  padding: 6% 14% 7%;
}

.cta-box {
  background-color: #3882f6;
  border: 2px solid rgb(74, 51, 204);
  border-radius: 5px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
  gap: 8px;
}
.cta-box div {
  display: flex;
  flex-direction: column;
}
.cta-box h2 {
  font-size: 36px;
  font-weight: bold;
}

.cta-box p {
  font-size: 24px;
}

.cta-box a {
  margin-left: auto;
}

.cta-button {
  background-color: #3882F6;
  color: #fff;
  font-size: 18px;
  padding: 6px 9px;
  border-radius: 4px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
}

.cta-button:hover {
  background-color: #fff;
  color: #333;
}

/* Footer */
footer {
  background-color: #1F2937;
  color: #E5E7EB;
  text-align: center;
  padding: 2% 14%;
}